################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/smolGameMaker
*.user
/x64/Debug
/.vs
/x64/Release
/smolEditor/x64/Debug
/smolEngine/x64/Debug
